In [2]:
# imports
import requests
import os

import pandas as pd
import numpy as np

## 0.0 CITY BIKES

In [3]:
#IMPORTING CITY_BIKES_DF

df_bike_stations = pd.read_pickle("df_stations.pkl")

latitudes = list(df_bike_stations["latitude"])
longitudes = list(df_bike_stations["longitude"])

In [4]:
#EXTRACTING CITY BIKE'S LATITUDES AND LONGITUDES

lat_lon_dict = {
    "lat": latitudes,
    "lon": longitudes
}

In [18]:
citybikes_df = pd.DataFrame()

citybikes_df["bike_id"] = df_bike_stations["id"].copy()
citybikes_df["bike_lat"] = df_bike_stations["latitude"].copy()
citybikes_df["bike_lon"] = df_bike_stations["longitude"].copy()

citybikes_df.to_pickle("citybikes_df.pkl")

In [19]:
citybikes_df.head()

                            bike_id   bike_lat   bike_lon
0  fb337bbed72e2be090071e199899b2be  43.665269 -79.319796
1  4ff88d5880e71aa40d34cfe5d09b0ca7  43.671420 -79.445947
2  a09c67c0b419654d907c9134b108e328  43.666224 -79.317693
3  d6a9daee68070a8b106cfb598d81308c  43.653236 -79.376716
4  8f8af40d9388c8a3962559e8681d3db7  43.663722 -79.380288

# 1.0 FOURSQUARE API

In [7]:
API_KEY = os.environ.get("FOURSQUARE_API_KEY") #PERSONAL API KEY

In [8]:
#DEFAULT TEMPLATES

fs_url = "https://api.foursquare.com/v3/places/search"

fs_headers = {
    "Accept": "application/json",
    "Authorization": API_KEY
}

In [9]:
#DEFINING THE QUERRY PARAMETERS
fs_results_dict = {
    "results": []
}

for row in range(len(lat_lon_dict["lat"])):
    fs_params = {
    "query": "restaurants",
    "ll": f"{lat_lon_dict['lat'][row]},{lat_lon_dict['lon'][row]}",
    "sort":"DISTANCE",
    "radius":1000,
    "limit": 1,
    "rating":0.0
    }
    
    fs_response = requests.request("GET", fs_url, params=fs_params, headers=fs_headers)
    
    fs_results_dict["results"].append(fs_response.json()["results"])

### SAVING THE RESULTS FROM FOURSQAURE API CALL

In [10]:
fs_results_df = pd.DataFrame(fs_results_dict["results"]) #EXTRACTING THE RESULTS FROM JSON FILE
fs_results_keys = fs_results_dict["results"][0][0].keys()

In [11]:
fs_results_df.to_pickle("FS_restaurants_raw.pkl") #EXPORTING THE RESULT

In [12]:
#OPTIONAL: IMPORTING SAVED FS_RESTAURANTS QUERRY
fs_results_df = pd.read_pickle("FS_restaurants_raw.pkl")

### PARSING THROUGH THE RESULTS DATA TO EXTRACT NEEDED DATA

In [13]:
#List variables
results_fsq_id = []
results_name = []
results_distance = []

#Dictionary variables
results_geocode_dict = []
results_category_dict = []
results_category_distance = []

#parsing through the JSON files
for row in fs_results_df[0]:
    results_fsq_id.append(row["fsq_id"])
    results_name.append(row["name"])
    results_geocode_dict.append(row["geocodes"])
    results_category_dict.append(row["categories"])
    results_distance.append(row["distance"])

In [14]:
results_category = []

#Parsing through the dcitonary to convert into list
for dictionary in results_category_dict:
    results_category.append(dictionary[0]["name"])
#     temp_categories = []
#     for element in dictionary:
#         temp_categories.append(element["name"])

In [15]:
results_latitude =[]
results_longitude = []

#Parsing through the dcitonary to convert into list
for geocode in results_geocode_dict:
        results_latitude.append(geocode["main"]["latitude"])
        results_longitude.append(geocode["main"]["longitude"])

### SAVING FOURSQUARE API CALL FINAL RESULTS TO DATAFRAME

In [16]:
fs_df = pd.DataFrame()

fs_df["fs_id"] = results_fsq_id
fs_df["fs_name"] = results_name
fs_df["fs_category"] = results_category
fs_df["fs_latitude"] = results_latitude
fs_df["fs_longitude"] = results_longitude
fs_df["fs_distance"] = results_distance

fs_df.to_pickle("fs_df.pkl") #EXPORTING THE RESULT TO PICKLE FILE

# Foursquare DF

In [17]:
fs_results_df.head()

                                                   0
0  {'fsq_id': '4ad9ebdcf964a520e61b21e3', 'catego...
1  {'fsq_id': '4bb2941814cfd13a8e2915ab', 'catego...
2  {'fsq_id': '4b4d2e7bf964a52089cd26e3', 'catego...
3  {'fsq_id': '529e7344498e18bff5e60191', 'catego...
4  {'fsq_id': '533d629b498e7452f4a50bda', 'catego...

# 2.0 Yelp API

In [4]:
yelp_API_KEY = os.environ.get("YELP_API_KEY2")

In [7]:
# YELP API TEMPLATE
url = "https://api.yelp.com/v3/businesses/search"

yelp_headers = {"accept": "application/json",
           "Authorization": "Bearer %s" % yelp_API_KEY
          }

yelp_response = requests.get(url, headers=yelp_headers)

In [8]:
#DEFINING THE QUERRY PARAMETERS
yelp_businesses_dict = {
    "businesses": list()
}

for i in range(450):
    yelp_params = {
    "term": "restaurant",
    "latitude": lat_lon_dict['lat'][i],
    "longitude": lat_lon_dict['lon'][i],
    "sort":"DISTANCE",
    "radius":1000,
    "limit": 1
    }    
    yelp_response = requests.get(url, headers=yelp_headers, params=yelp_params)
    
    yelp_businesses_dict["businesses"].append(yelp_response.json()["businesses"])

### SAVING THE YELP API CALL EXTERNALLY FOR BACKUP

In [11]:
yelp_businesses_keys = yelp_response.json()["businesses"][0].keys()
yelp_businesses_df = pd.DataFrame(yelp_businesses_dict)

In [12]:
yelp_businesses_df.to_pickle("YELP_restaurants_raw.pkl") #EXPORTING THE RESULT

In [13]:
#OPTIONAL: IMPORTING SAVED YELP_RESTAURANTS QUERRY
yelp_businesses_df = pd.read_pickle("YELP_restaurants_raw.pkl")

### PARSING THROUGH THE YELP API RESULTS

In [53]:
#List Variables
yelp_business_id = []
yelp_business_name = []
yelp_business_rating = []
yelp_business_distance = []

#Dictioanry variables
yelp_business_coordinates_dict = []
yelp_business_categories_dict = []


#parsing through the JSON files
for row in yelp_businesses_dict["businesses"]:
    yelp_business_id.append(row[0]["id"])
    yelp_business_name.append(row[0]["name"])
    yelp_business_rating.append(row[0]["rating"])
    yelp_business_distance.append(row[0]["distance"])
    yelp_business_coordinates_dict.append(row[0]["coordinates"])
    yelp_business_categories_dict.append(row[0]["categories"])

In [56]:
#EXTRACTING THE FIRST CATEGORY
yelp_business_categories = []

#Parsing through the dcitonary to convert into list
for category in yelp_business_categories_dict:
    yelp_business_categories.append(category[0]["title"])

In [42]:
#EXTRACTING THE LONGITUDE AND LATITUDE
yelp_business_latitude = []
yelp_business_longitude = []

#Parsing through the dcitonary to convert into list
for coordinates in yelp_business_coordinates_dict:
    yelp_business_latitude.append(coordinates["latitude"])
    yelp_business_longitude.append(coordinates["longitude"])

### SAVING THE YELP API CALL TO FINAL YELP DF

In [162]:
yelp_df = pd.DataFrame()

yelp_df["yelp_id"] = yelp_business_id
yelp_df["yelp_name"] = yelp_business_name
yelp_df["yelp_category"] = yelp_business_categories
yelp_df["yelp_longitude"] = yelp_business_latitude
yelp_df["yelp_latitude"] = yelp_business_longitude
yelp_df["yelp_distance"] = yelp_business_distance
yelp_df["yelp_ratings"] = yelp_business_rating

yelp_df.to_pickle("yelp_df.pkl") #EXPORTING THE RESULT TO PICKLE FILE

# Yelp DF

In [160]:
yelp_df.head()

,yelp_id,yelp_name,yelp_category,yelp_longitude,yelp_latitude,yelp_distance,yelp_ratings
0,Ohengzi4viLEXqhK50aLxg,Jaclyn's,Caribbean,43.66627,-79.31802,172.375134,4.5
1,a-Mo7Ipu_c5y21mmg0-F7g,Agio,Italian,43.67599,-79.45066,646.471211,4.5
2,Ohengzi4viLEXqhK50aLxg,Jaclyn's,Caribbean,43.66627,-79.31802,29.257263,4.5
3,qekAZVcOoJjMBnN5rJ_4fQ,The Rabbit Hole,Gastropubs,43.64995,-79.37976,426.288752,4.0
4,saijdv-vXJrvsCfvr7SZOw,Katsuya,Japanese,43.65995,-79.37882,432.975108,4.5

#### Check remaining Yelp API call

In [15]:
# import requests

# API_KEY = yelp_API_KEY
# url = 'https://api.yelp.com/v3/businesses/search?term=coffee&location=sf'

# headers = {
#     'Authorization': f'Bearer {API_KEY}',
# }

# response = requests.get(url, headers=headers)

# # Extract rate limit information from headers
# daily_limit = response.headers.get('RateLimit-DailyLimit')
# remaining_calls = response.headers.get('RateLimit-Remaining')
# reset_time = response.headers.get('RateLimit-ResetTime')

# print(f'Daily Limit: {daily_limit}')
# print(f'Remaining Calls: {remaining_calls}')
# print(f'Reset Time: {reset_time}')

Daily Limit: 500.0
Remaining Calls: 49.0
Reset Time: 2023-09-17T00:00:00+00:00

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

In [129]:
fs_results_keys

dict_keys(['fsq_id', 'categories', 'chains', 'distance', 'geocodes', 'link', 'location', 'name', 'related_places', 'timezone'])

In [130]:
yelp_businesses_keys

dict_keys(['id', 'alias', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'location', 'phone', 'display_phone', 'distance'])

1. In terms of the quantity of information for each row, Yelp has provided more features by default. For instance, it returns ratin feature while foursquare did not.
2. In terms of quantity of information per each API call, Foursquare provided more api calls returning all 696 rows of city bike stations. Whereas, yelp has a limited 500 API calls.

Get the top 10 restaurants according to their rating

In [154]:
#Top 10 Restairants Based on Ratings on Yelp
yelp_df.sort_values(by="yelp_ratings", ascending=False).head(10)

,yelp_id,yelp_name,yelp_category,yelp_longitude,yelp_latitude,yelp_distance,yelp_ratings
182,oFPX6Ki7yXZXegFPxwcEOg,Momo Ghar,Himalayan/Nepalese,43.667410,-79.369530,344.900040,5.0
424,WSBnoQ_zgmo4e63IViPNWQ,Chiang Mai Junction,Thai,43.665658,-79.469444,67.037141,5.0
38,sV4QGXQk77dmr-lqTcDTKQ,Rikki Tikki,Indian,43.654081,-79.401486,414.853521,5.0
148,sV4QGXQk77dmr-lqTcDTKQ,Rikki Tikki,Indian,43.654081,-79.401486,471.404303,5.0
372,J9vAdD2dCpFuGsxPIn184w,New Orleans Seafood & Steakhouse,Seafood,43.677750,-79.506110,737.234341,5.0
152,XIRKBWMyW8bC7bZdyoabiQ,Papyrus,Egyptian,43.677090,-79.353240,672.916475,5.0
153,XIRKBWMyW8bC7bZdyoabiQ,Papyrus,Egyptian,43.677090,-79.353240,272.322499,5.0
74,sV4QGXQk77dmr-lqTcDTKQ,Rikki Tikki,Indian,43.654081,-79.401486,178.850672,5.0
130,XIRKBWMyW8bC7bZdyoabiQ,Papyrus,Egyptian,43.677090,-79.353240,425.903661,5.0
311,ok3DZaO3vTt5lRsXX60sFQ,Brasa Peruvian Kitchen,Salad,43.665511,-79.449622,132.022641,5.0