# CityBikes

Send a request to CityBikes for the city of your choice.

In [35]:
import requests
import os

import pandas as pd
import numpy as np

In [36]:
city = "toronto" #City POI
url = "http://api.citybik.es/v2/networks/" + city #Default City Bikes URL API

#API Call
result = requests.get(url)
result

In [37]:
toronto_bikes = result.json()['network'] #Saving JSON file into a dictionary

dict_keys(['company', 'gbfs_href', 'href', 'id', 'location', 'name', 'stations'])

In [66]:
#Converted dictionary to DataFrame
df_stations = pd.DataFrame(toronto_bikes["stations"])

In [69]:
#Filtered Data Frame
df_stations["extra"][0]

{'address': 'Queen St E / Woodward Ave',
 'altitude': 0.0,
 'ebikes': 2,
 'has_ebikes': True,
 'last_updated': 1693968977,
 'normal_bikes': 14,
 'payment': ['key', 'transitcard', 'creditcard', 'phone'],
 'payment-terminal': True,
 'rental_uris': {},
 'renting': 1,
 'returning': 1,
 'slots': 19,
 'uid': '7303'}

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [53]:
df_stations = df_stations.drop(["extra"], axis=1)

Put your parsed results into a DataFrame.

In [54]:
df_stations.head()

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp
0,2,16,fb337bbed72e2be090071e199899b2be,43.665269,-79.319796,Queen St E / Woodward Ave,2023-09-06T03:00:17.295000Z
1,2,13,4ff88d5880e71aa40d34cfe5d09b0ca7,43.671420,-79.445947,Primrose Ave / Davenport Rd,2023-09-06T03:00:17.296000Z
2,5,18,a09c67c0b419654d907c9134b108e328,43.666224,-79.317693,Queen St. E / Rhodes Ave.,2023-09-06T03:00:17.296000Z
3,21,0,d6a9daee68070a8b106cfb598d81308c,43.653236,-79.376716,Bond St / Queen St E,2023-09-06T03:00:17.301000Z
4,13,14,8f8af40d9388c8a3962559e8681d3db7,43.663722,-79.380288,Church St / Alexander St,2023-09-06T03:00:17.302000Z

In [63]:
df_stations.to_pickle("df_stations.pkl")